.wrapper{
  margin-bottom: 1rem;
}
.input{
  border: 1px solid var(--white);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: rgb(235, 235, 235);
  transition: 0.2s;
}

.input:hover,
.input:focus{
  outline: none;
  border-color: var(--link);
  background: var(--white);
}

.label{
  display: block;
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
.error{
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}